.elementor-kit-5{--e-global-color-primary:#FFFFFF;--e-global-color-secondary:#FFFFFF;--e-global-color-text:#FFFFFF;--e-global-color-accent:#000000;--e-global-color-5f3117e4:#000000;--e-global-color-24ba2939:#2F2F2F;--e-global-color-689cddd2:#FF7989;--e-global-color-41d2fbef:#E7243B;--e-global-color-3acf0985:#FFD639;--e-global-color-2651cad4:#418BEE;--e-global-color-f15c3f1:#FFFFFF00;--e-global-color-8b2c1dd:#FF771F;--e-global-color-1360403:#F2F2F2;--e-global-color-98eca27:#D2D553;--e-global-color-793f70d:#62279A;--e-global-color-2373739:#E51F21;--e-global-color-093f29f:#E1E1E1;--e-global-typography-primary-font-family:"Pridi_Local";--e-global-typography-primary-font-size:40px;--e-global-typography-primary-font-weight:600;--e-global-typography-primary-text-transform:capitalize;--e-global-typography-primary-font-style:normal;--e-global-typography-primary-text-decoration:none;--e-global-typography-primary-line-height:44px;--e-global-typography-primary-letter-spacing:0.7px;--e-global-typography-secondary-font-family:"Karla_Local";--e-global-typography-secondary-font-size:24px;--e-global-typography-secondary-font-weight:normal;--e-global-typography-secondary-text-transform:capitalize;--e-global-typography-secondary-font-style:normal;--e-global-typography-secondary-text-decoration:none;--e-global-typography-secondary-line-height:26px;--e-global-typography-secondary-letter-spacing:0px;--e-global-typography-text-font-family:"Karla_Local";--e-global-typography-text-font-size:16px;--e-global-typography-text-font-weight:normal;--e-global-typography-text-text-transform:none;--e-global-typography-text-font-style:normal;--e-global-typography-text-text-decoration:none;--e-global-typography-text-line-height:24px;--e-global-typography-accent-font-family:"Karla_Local";--e-global-typography-accent-font-size:14px;--e-global-typography-accent-font-weight:bold;--e-global-typography-accent-text-transform:uppercase;--e-global-typography-accent-font-style:normal;--e-global-typography-accent-text-decoration:none;--e-global-typography-98cba25-font-family:"Pridi_Local";--e-global-typography-98cba25-font-size:74px;--e-global-typography-98cba25-font-weight:600;--e-global-typography-98cba25-text-transform:capitalize;--e-global-typography-98cba25-font-style:normal;--e-global-typography-98cba25-text-decoration:none;--e-global-typography-98cba25-line-height:72px;--e-global-typography-98cba25-letter-spacing:0.7px;--e-global-typography-baea422-font-family:"Karla_Local";--e-global-typography-baea422-font-size:12px;--e-global-typography-baea422-font-weight:normal;--e-global-typography-baea422-text-transform:uppercase;--e-global-typography-baea422-line-height:14px;--e-global-typography-1c40387-font-family:"Karla_Local";--e-global-typography-1c40387-font-size:20px;--e-global-typography-1c40387-font-weight:normal;--e-global-typography-1c40387-text-transform:none;--e-global-typography-1c40387-line-height:23px;--e-global-typography-1c40387-letter-spacing:0px;--e-global-typography-5a13aa7-font-family:"Karla_Local";--e-global-typography-5a13aa7-font-size:9.6px;--e-global-typography-5a13aa7-text-transform:capitalize;--e-global-typography-fe8cd4f-font-family:"Karla_Local";--e-global-typography-fe8cd4f-font-size:16px;--e-global-typography-fe8cd4f-font-weight:normal;--e-global-typography-fe8cd4f-text-transform:capitalize;--e-global-typography-fe8cd4f-letter-spacing:0px;--e-global-typography-2f99989-font-family:"Karla_Local";--e-global-typography-2f99989-font-size:20px;--e-global-typography-2f99989-font-weight:bold;--e-global-typography-2f99989-text-transform:none;--e-global-typography-2f99989-line-height:23px;--e-global-typography-2f99989-letter-spacing:0px;--e-global-typography-113a65e-font-family:"Karla_Local";--e-global-typography-113a65e-font-size:18px;--e-global-typography-113a65e-font-weight:bold;--e-global-typography-113a65e-text-transform:uppercase;--e-global-typography-113a65e-line-height:21.6px;--e-global-typography-30a75c7-font-family:"Karla_Local";--e-global-typography-30a75c7-font-size:60px;--e-global-typography-30a75c7-font-weight:normal;--e-global-typography-d29f6c5-font-family:"Pridi_Local";--e-global-typography-d29f6c5-font-size:206px;--e-global-typography-d29f6c5-text-transform:capitalize;--e-global-typography-d29f6c5-line-height:210px;--e-global-typography-d29f6c5-letter-spacing:0.7px;background-color:var( --e-global-color-primary );}.elementor-kit-5 e-page-transition{background-color:#FFBC7D;}.elementor-kit-5 a{color:var( --e-global-color-2373739 );}.elementor-kit-5 h2{color:var( --e-global-color-primary );font-family:var( --e-global-typography-primary-font-family ), Sans-serif;font-size:var( --e-global-typography-primary-font-size );font-weight:var( --e-global-typography-primary-font-weight );text-transform:var( --e-global-typography-primary-text-transform );font-style:var( --e-global-typography-primary-font-style );text-decoration:var( --e-global-typography-primary-text-decoration );line-height:var( --e-global-typography-primary-line-height );letter-spacing:var( --e-global-typography-primary-letter-spacing );}.elementor-section.elementor-section-boxed > .elementor-container{max-width:1140px;}.e-con{--container-max-width:1140px;}.elementor-widget:not(:last-child){margin-block-end:20px;}.elementor-element{--widgets-spacing:20px 20px;}{}h1.entry-title{display:var(--page-title-display);}.site-header .site-branding{flex-direction:column;align-items:stretch;}.site-header{padding-inline-end:0px;padding-inline-start:0px;}.site-footer .site-branding{flex-direction:column;align-items:stretch;}@media(max-width:1024px){.elementor-kit-5{--e-global-typography-primary-font-size:34px;--e-global-typography-primary-line-height:1.1em;--e-global-typography-primary-letter-spacing:1.1px;--e-global-typography-98cba25-font-size:60px;--e-global-typography-98cba25-line-height:1em;--e-global-typography-98cba25-letter-spacing:1.1px;--e-global-typography-113a65e-font-size:16px;--e-global-typography-d29f6c5-font-size:145px;--e-global-typography-d29f6c5-line-height:1em;--e-global-typography-d29f6c5-letter-spacing:1.1px;}.elementor-kit-5 h2{font-size:var( --e-global-typography-primary-font-size );line-height:var( --e-global-typography-primary-line-height );letter-spacing:var( --e-global-typography-primary-letter-spacing );}.elementor-section.elementor-section-boxed > .elementor-container{max-width:1024px;}.e-con{--container-max-width:1024px;}}@media(max-width:767px){.elementor-kit-5{--e-global-typography-primary-font-size:28px;--e-global-typography-primary-line-height:1em;--e-global-typography-primary-letter-spacing:1px;--e-global-typography-98cba25-font-size:40px;--e-global-typography-fe8cd4f-font-size:14px;--e-global-typography-d29f6c5-font-size:100px;}.elementor-kit-5 h2{font-size:var( --e-global-typography-primary-font-size );line-height:var( --e-global-typography-primary-line-height );letter-spacing:var( --e-global-typography-primary-letter-spacing );}.elementor-section.elementor-section-boxed > .elementor-container{max-width:767px;}.e-con{--container-max-width:767px;}}/* Start custom CSS */.rotate {transform: rotate(-1deg);}/* End custom CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Pridi_Local';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('https://www.xn--schdling-ex-n8a.at/wp-content/uploads/2021/12/pridi-v6-latin-regular.eot');
	src: url('https://www.xn--schdling-ex-n8a.at/wp-content/uploads/2021/12/pridi-v6-latin-regular.eot?#iefix') format('embedded-opentype'),
		url('https://www.xn--schdling-ex-n8a.at/wp-content/uploads/2021/12/pridi-v6-latin-regular.woff2') format('woff2'),
		url('https://www.xn--schdling-ex-n8a.at/wp-content/uploads/2021/12/pridi-v6-latin-regular.woff') format('woff'),
		url('https://www.xn--schdling-ex-n8a.at/wp-content/uploads/2021/12/pridi-v6-latin-regular.ttf') format('truetype'),
		url('https://www.xn--schdling-ex-n8a.at/wp-content/uploads/2021/12/pridi-v6-latin-regular.svg#Pridi_Local') format('svg');
}
@font-face {
	font-family: 'Pridi_Local';
	font-style: normal;
	font-weight: 200;
	font-display: auto;
	src: url('https://www.xn--schdling-ex-n8a.at/wp-content/uploads/2021/12/pridi-v6-latin-200.eot');
	src: url('https://www.xn--schdling-ex-n8a.at/wp-content/uploads/2021/12/pridi-v6-latin-200.eot?#iefix') format('embedded-opentype'),
		url('https://www.xn--schdling-ex-n8a.at/wp-content/uploads/2021/12/pridi-v6-latin-200.woff2') format('woff2'),
		url('https://www.xn--schdling-ex-n8a.at/wp-content/uploads/2021/12/pridi-v6-latin-200.woff') format('woff'),
		url('https://www.xn--schdling-ex-n8a.at/wp-content/uploads/2021/12/pridi-v6-latin-200.ttf') format('truetype'),
		url('https://www.xn--schdling-ex-n8a.at/wp-content/uploads/2021/12/pridi-v6-latin-200.svg#Pridi_Local') format('svg');
}
@font-face {
	font-family: 'Pridi_Local';
	font-style: normal;
	font-weight: 300;
	font-display: auto;
	src: url('https://www.xn--schdling-ex-n8a.at/wp-content/uploads/2021/12/pridi-v6-latin-300.eot');
	src: url('https://www.xn--schdling-ex-n8a.at/wp-content/uploads/2021/12/pridi-v6-latin-300.eot?#iefix') format('embedded-opentype'),
		url('https://www.xn--schdling-ex-n8a.at/wp-content/uploads/2021/12/pridi-v6-latin-300.woff2') format('woff2'),
		url('https://www.xn--schdling-ex-n8a.at/wp-content/uploads/2021/12/pridi-v6-latin-300.woff') format('woff'),
		url('https://www.xn--schdling-ex-n8a.at/wp-content/uploads/2021/12/pridi-v6-latin-300.ttf') format('truetype'),
		url('https://www.xn--schdling-ex-n8a.at/wp-content/uploads/2021/12/pridi-v6-latin-300.svg#Pridi_Local') format('svg');
}
@font-face {
	font-family: 'Pridi_Local';
	font-style: normal;
	font-weight: 500;
	font-display: auto;
	src: url('https://www.xn--schdling-ex-n8a.at/wp-content/uploads/2021/12/pridi-v6-latin-500.eot');
	src: url('https://www.xn--schdling-ex-n8a.at/wp-content/uploads/2021/12/pridi-v6-latin-500.eot?#iefix') format('embedded-opentype'),
		url('https://www.xn--schdling-ex-n8a.at/wp-content/uploads/2021/12/pridi-v6-latin-500.woff2') format('woff2'),
		url('https://www.xn--schdling-ex-n8a.at/wp-content/uploads/2021/12/pridi-v6-latin-500.woff') format('woff'),
		url('https://www.xn--schdling-ex-n8a.at/wp-content/uploads/2021/12/pridi-v6-latin-500.ttf') format('truetype'),
		url('https://www.xn--schdling-ex-n8a.at/wp-content/uploads/2021/12/pridi-v6-latin-500.svg#Pridi_Local') format('svg');
}
@font-face {
	font-family: 'Pridi_Local';
	font-style: normal;
	font-weight: 600;
	font-display: auto;
	src: url('https://www.xn--schdling-ex-n8a.at/wp-content/uploads/2021/12/pridi-v6-latin-600.eot');
	src: url('https://www.xn--schdling-ex-n8a.at/wp-content/uploads/2021/12/pridi-v6-latin-600.eot?#iefix') format('embedded-opentype'),
		url('https://www.xn--schdling-ex-n8a.at/wp-content/uploads/2021/12/pridi-v6-latin-600.woff2') format('woff2'),
		url('https://www.xn--schdling-ex-n8a.at/wp-content/uploads/2021/12/pridi-v6-latin-600.woff') format('woff'),
		url('https://www.xn--schdling-ex-n8a.at/wp-content/uploads/2021/12/pridi-v6-latin-600.ttf') format('truetype'),
		url('https://www.xn--schdling-ex-n8a.at/wp-content/uploads/2021/12/pridi-v6-latin-600.svg#Pridi_Local') format('svg');
}
@font-face {
	font-family: 'Pridi_Local';
	font-style: normal;
	font-weight: 700;
	font-display: auto;
	src: url('https://www.xn--schdling-ex-n8a.at/wp-content/uploads/2021/12/pridi-v6-latin-700.eot');
	src: url('https://www.xn--schdling-ex-n8a.at/wp-content/uploads/2021/12/pridi-v6-latin-700.eot?#iefix') format('embedded-opentype'),
		url('https://www.xn--schdling-ex-n8a.at/wp-content/uploads/2021/12/pridi-v6-latin-700.woff2') format('woff2'),
		url('https://www.xn--schdling-ex-n8a.at/wp-content/uploads/2021/12/pridi-v6-latin-700.woff') format('woff'),
		url('https://www.xn--schdling-ex-n8a.at/wp-content/uploads/2021/12/pridi-v6-latin-700.ttf') format('truetype'),
		url('https://www.xn--schdling-ex-n8a.at/wp-content/uploads/2021/12/pridi-v6-latin-700.svg#Pridi_Local') format('svg');
}
/* End Custom Fonts CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Karla_Local';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('https://www.xn--schdling-ex-n8a.at/wp-content/uploads/2021/12/karla-v15-latin-regular.eot');
	src: url('https://www.xn--schdling-ex-n8a.at/wp-content/uploads/2021/12/karla-v15-latin-regular.eot?#iefix') format('embedded-opentype'),
		url('https://www.xn--schdling-ex-n8a.at/wp-content/uploads/2021/12/karla-v15-latin-regular.woff2') format('woff2'),
		url('https://www.xn--schdling-ex-n8a.at/wp-content/uploads/2021/12/karla-v15-latin-regular.woff') format('woff'),
		url('https://www.xn--schdling-ex-n8a.at/wp-content/uploads/2021/12/karla-v15-latin-regular.ttf') format('truetype'),
		url('https://www.xn--schdling-ex-n8a.at/wp-content/uploads/2021/12/karla-v15-latin-regular.svg#Karla_Local') format('svg');
}
@font-face {
	font-family: 'Karla_Local';
	font-style: normal;
	font-weight: 200;
	font-display: auto;
	src: url('https://www.xn--schdling-ex-n8a.at/wp-content/uploads/2021/12/karla-v15-latin-200.eot');
	src: url('https://www.xn--schdling-ex-n8a.at/wp-content/uploads/2021/12/karla-v15-latin-200.eot?#iefix') format('embedded-opentype'),
		url('https://www.xn--schdling-ex-n8a.at/wp-content/uploads/2021/12/karla-v15-latin-200.woff2') format('woff2'),
		url('https://www.xn--schdling-ex-n8a.at/wp-content/uploads/2021/12/karla-v15-latin-200.woff') format('woff'),
		url('https://www.xn--schdling-ex-n8a.at/wp-content/uploads/2021/12/karla-v15-latin-200.ttf') format('truetype'),
		url('https://www.xn--schdling-ex-n8a.at/wp-content/uploads/2021/12/karla-v15-latin-200.svg#Karla_Local') format('svg');
}
@font-face {
	font-family: 'Karla_Local';
	font-style: normal;
	font-weight: 300;
	font-display: auto;
	src: url('https://www.xn--schdling-ex-n8a.at/wp-content/uploads/2021/12/karla-v15-latin-300.eot');
	src: url('https://www.xn--schdling-ex-n8a.at/wp-content/uploads/2021/12/karla-v15-latin-300.eot?#iefix') format('embedded-opentype'),
		url('https://www.xn--schdling-ex-n8a.at/wp-content/uploads/2021/12/karla-v15-latin-300.woff2') format('woff2'),
		url('https://www.xn--schdling-ex-n8a.at/wp-content/uploads/2021/12/karla-v15-latin-300.woff') format('woff'),
		url('https://www.xn--schdling-ex-n8a.at/wp-content/uploads/2021/12/karla-v15-latin-300.ttf') format('truetype'),
		url('https://www.xn--schdling-ex-n8a.at/wp-content/uploads/2021/12/karla-v15-latin-300.svg#Karla_Local') format('svg');
}
@font-face {
	font-family: 'Karla_Local';
	font-style: normal;
	font-weight: 500;
	font-display: auto;
	src: url('https://www.xn--schdling-ex-n8a.at/wp-content/uploads/2021/12/karla-v15-latin-500.eot');
	src: url('https://www.xn--schdling-ex-n8a.at/wp-content/uploads/2021/12/karla-v15-latin-500.eot?#iefix') format('embedded-opentype'),
		url('https://www.xn--schdling-ex-n8a.at/wp-content/uploads/2021/12/karla-v15-latin-500.woff2') format('woff2'),
		url('https://www.xn--schdling-ex-n8a.at/wp-content/uploads/2021/12/karla-v15-latin-500.woff') format('woff'),
		url('https://www.xn--schdling-ex-n8a.at/wp-content/uploads/2021/12/karla-v15-latin-500.ttf') format('truetype'),
		url('https://www.xn--schdling-ex-n8a.at/wp-content/uploads/2021/12/karla-v15-latin-500.svg#Karla_Local') format('svg');
}
@font-face {
	font-family: 'Karla_Local';
	font-style: normal;
	font-weight: 600;
	font-display: auto;
	src: url('https://www.xn--schdling-ex-n8a.at/wp-content/uploads/2021/12/karla-v15-latin-600.eot');
	src: url('https://www.xn--schdling-ex-n8a.at/wp-content/uploads/2021/12/karla-v15-latin-600.eot?#iefix') format('embedded-opentype'),
		url('https://www.xn--schdling-ex-n8a.at/wp-content/uploads/2021/12/karla-v15-latin-600.woff2') format('woff2'),
		url('https://www.xn--schdling-ex-n8a.at/wp-content/uploads/2021/12/karla-v15-latin-600.woff') format('woff'),
		url('https://www.xn--schdling-ex-n8a.at/wp-content/uploads/2021/12/karla-v15-latin-600.ttf') format('truetype'),
		url('https://www.xn--schdling-ex-n8a.at/wp-content/uploads/2021/12/karla-v15-latin-600.svg#Karla_Local') format('svg');
}
@font-face {
	font-family: 'Karla_Local';
	font-style: normal;
	font-weight: 700;
	font-display: auto;
	src: url('https://www.xn--schdling-ex-n8a.at/wp-content/uploads/2021/12/karla-v15-latin-700.eot');
	src: url('https://www.xn--schdling-ex-n8a.at/wp-content/uploads/2021/12/karla-v15-latin-700.eot?#iefix') format('embedded-opentype'),
		url('https://www.xn--schdling-ex-n8a.at/wp-content/uploads/2021/12/karla-v15-latin-700.woff2') format('woff2'),
		url('https://www.xn--schdling-ex-n8a.at/wp-content/uploads/2021/12/karla-v15-latin-700.woff') format('woff'),
		url('https://www.xn--schdling-ex-n8a.at/wp-content/uploads/2021/12/karla-v15-latin-700.ttf') format('truetype'),
		url('https://www.xn--schdling-ex-n8a.at/wp-content/uploads/2021/12/karla-v15-latin-700.svg#Karla_Local') format('svg');
}
@font-face {
	font-family: 'Karla_Local';
	font-style: normal;
	font-weight: 800;
	font-display: auto;
	src: url('https://www.xn--schdling-ex-n8a.at/wp-content/uploads/2021/12/karla-v15-latin-800.eot');
	src: url('https://www.xn--schdling-ex-n8a.at/wp-content/uploads/2021/12/karla-v15-latin-800.eot?#iefix') format('embedded-opentype'),
		url('https://www.xn--schdling-ex-n8a.at/wp-content/uploads/2021/12/karla-v15-latin-800.woff2') format('woff2'),
		url('https://www.xn--schdling-ex-n8a.at/wp-content/uploads/2021/12/karla-v15-latin-800.woff') format('woff'),
		url('https://www.xn--schdling-ex-n8a.at/wp-content/uploads/2021/12/karla-v15-latin-800.ttf') format('truetype'),
		url('https://www.xn--schdling-ex-n8a.at/wp-content/uploads/2021/12/karla-v15-latin-800.svg#Karla_Local') format('svg');
}
/* End Custom Fonts CSS */